.wrapper {
    background: #fff;
    min-height: 600px;
    padding: 20px 0 0;
    position: relative;
    max-width: 780px;
    margin: 40px 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-sizing: border-box;
}

.content {
    padding: 15px;
}

.settings__btn {
    width: 100%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.image img {
    width: 60%;
    height: 60%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

