.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr;
}

.bookmarks {
    grid-area: 1 / 1 / 2 / 6;
}

.bookmarksInfo {
    grid-area: 2 / 5 / 4 / 6;
}

.bookmarksPost {
    grid-area: 2 / 1 / 4 / 4;
}