.wrapper {
    display: flex;
    justify-content: center;
}

.post {
    padding: 5px;
    width: 57rem;
    height: 20rem;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
}

.content {
    height: 85%;
}

.statistics {
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
}

.author {
    display: flex;
    justify-content: space-between;
}

.author__name {
}

.create__date {
}

.img {
    border-radius: 5px;
}

.btn__text,
.btn__text:hover {
    text-decoration: none;
    color: white;
}

.btn {
    margin: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.post__text {
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}